header{
    margin: 20px;
    height: 100px;
}
nav > ul{
    list-style-type: none;
}
nav > ul > li{
    display: inline;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    color: #383838;
    font-size: 16px;
}
#search-div{
    text-align: center;
}
#search-btn{
    width: 100px;
    height: 60px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #F06C4E;
}
#search-txt{
    width: 500px;
    height: 60px;
    border-color: white;
    border-radius: 5px;
    background-color: #F8F7F5;
    font-size: 16px;
}
#search-results{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}
.resultDiv{
    border-radius: 15px;
    text-align: center;
    background-color: #F8F7F5;
}
.resultDiv > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 80%;
}
.resultDiv > span{
    height:fit-content;
    font-size: 20px;
    font-weight: 500;
    color: #252525;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    height: 50px;
    text-align: center;
    margin-top: 50px;
}